// Place all the styles related to the amortization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
   border: 1px solid black;
   text-align: center;
}

.table-heading {
	color: blue
}

a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: green;
}

.submit-btn {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit-btn:hover {
	background-color: green;
}

input[type="text"] {
	background-image:url(images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

form {
  position: relative;

  width  : 740px;
  height : 498px;
  margin : 0 auto;

  background: #FFF
}